<link rel="stylesheet" href="/css/style.css">

<header class="encabezado">
 <img src="/img/inti-logo-intranet.png" alt="logo-inti">

        <nav class="menu">
<ul class="menuIzquierda">

   <a href="/"> <li> Inicio </li> </a>
   <a href="/legislacion"> <li> Legislacion </li> </a>
   <a href="#"> <li> Integrantes </li> </a>
   <a href="#"> <li> Preguntas Frecuentes </li> </a>
   
   <a href="/contacto"> <li> Contacto </li> </a>
   
</ul>

<i class="fa-solid fa-bars"></i>

<ul class="menuDerecho">
    <a href="#"> <li> Sedes </li> </a>
    <a href="#"> <li> Regiones </li> </a>
    <a href="#"> <li> Profesionales </li> </a>
    <a href="#"> <li> Delegados </li> </a>
    <a href="/obras"> <li> Obras </li> </a>

</ul>

</nav>

    </header>