<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <!-- ICONOS -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/style.css">
    
<!-- FONTS FUENTES -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <title>Red Federal de Higiene y Seguridad</title>
</head>
<body>
<main>

    <header class="encabezado">
<img src="/img/inti-logo-intranet.png" alt="logo-inti">

        <nav class="menu">
<ul class="menuIzquierda">

   <a href="#"> <li> Inicio </li> </a>
   <a href="/legislacion"> <li> Legislacion </li> </a>
   <a href="#"> <li> Integrantes </li> </a>
   <a href="#"> <li> Preguntas Frecuentes </li> </a>
   
   <a href="/contacto"> <li> Contacto </li> </a>
   
</ul>

<ul class="menuDerecho">
    <a href="#"> <li> Sedes </li> </a>
    <a href="#"> <li> Regiones </li> </a>
    <a href="#"> <li> Profesionales </li> </a>
    <a href="#"> <li> Delegados </li> </a>
    <a href="/obras"> <li> Obras </li> </a>

</ul>

</nav>

    </header>
    
<h2>BIENVENIDOS A LA RED FEDERAL</h2>
<img src="/img/Isologotipo_institucional.jpg" alt="logo">


<footer>

   <p></p> correo: hys@inti.gob.ar
    <i class="fa-brands fa-whatsapp"></i>
</footer>    
    
</main>
</body>

<script src="https://kit.fontawesome.com/92d5f8d1c6.js" crossorigin="anonymous"></script>

</html>