<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
      <!-- ICONOS -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <!-- ESTILOS -->
    <link rel="stylesheet" href="/css/style.css">
    
<!-- FONTS FUENTES -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    <title>Red Federal de Higiene y Seguridad</title>
</head>
<body>
<main>

    <%- include ("partials/header.ejs") %>
    
<h2>BIENVENIDOS A LA RED FEDERAL</h2>
<img src="/img/Isologotipo_institucional.jpg" alt="logo">


<%- include ("partials/footer.ejs") %>     
    
</main>
</body>

<script src="https://kit.fontawesome.com/92d5f8d1c6.js" crossorigin="anonymous"></script>

</html>