<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styleObras.css">

    <title>OBRAS</title>
</head>

<body>

    <header>
        <h1>OBRAS</h1>
    </header>

    <form action="">

        <table>
            PERSONAL DE LA OBRA
            <tr>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>Dni</th>
            </tr>
            <tr>
                <td> <input type="text"></td>
                <td> <input type="text"></td>
                <td> <input type="text"></td>
            </tr>

            <tr>
                <td> <input type="text"></td>
                <td> <input type="text"></td>
                <td> <input type="text"></td>
            </tr>
            <tr>
                <td> <input type="text"></td>
                <td> <input type="text"></td>
                <td> <input type="text"></td>
            </tr>

        </table>

<button type="submit"> Enviar </button>
    <button type="reset"> Borrar</button>

    <section class="subidaArchivo">

        <label for="polizaART">Poliza de ART</label>
        <input type="file" name="polizaART" accept=".jpg, .pdf">
        <label for="registroEpp">Registro de entrega de EPP</label>
        <input type="file" name="registroEpp" accept=".jpg, .pdf">
        <label for="registroCapacitaciones">Registro de Capacitaciones </label>
        <input type="file" name="registroCapacitaciones" accept=".jpg, .pdf">
        
        <label for="matriculaHys">Matricula de Higiene y Seguridad </label>
        <input type="file" name="matriculaHys" accept=".jpg, .pdf">
        
    </section>
    
</form>

<section>
    Anexos
<a href="./file/AnexoB1.pdf" target="_blank"> Anexos B1 </a>
<a href="./file/AnexoB2.pdf" target="_blank"> Anexos B1 </a>

</section>

</body>

</html>