body {
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    text-align: center;
}


.menuIzquierda,
.menuDerecho {
    display: none;
}

@media (min-width: 768px) {
    
    .menuIzquierda,
    .menuDerecho {
        display: flex;
    }
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    
    }
    
    
    
    nav a  {
        text-decoration: none;
    }
    nav ul {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        list-style-type: none;
    }
    
    .fa-bars {
        display: none;
        color: blue ;
    }
    

}
